body {
  color: rgb(250, 251, 252);
  margin: 0 height 150;
  text-align: center;
  background-image: url("https://kinarino.k-img.com/system/press_images/001/272/268/cadaa1a5dd11f800adfccd533614f482dedfef77.jpg?1532800627");
  background-size: 2000px 2000px;
  background-position: 50%;
}
